<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="heading">{{poll.title}}</div>
    <p>by {{poll.creator}}</p>

    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
        <form ng-submit="submitForm()">

            <div ng-repeat="answer in poll.answers">
                <label><input type="radio" name="option" ng-model="radioData.index" value="{{$index}}"/>
                    <span id="answer-value"></span>{{ answer.value }} <span id="answer-votes"><em>({{ answer.votes }}
                        Votes)</em></span>
                </label>
            </div>
            <button ng-show="isLoggedIn()" class="btn btn-success" type="submit">Vote!</button>
        </form>
        <a href="login">
            <button ng-hide="isLoggedIn()" class="btn btn-primary" type="submit">Login or Sign up to Vote!</button>
        </a>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
        <canvas id="myChart" width="200" height="200"></canvas>
    </div>
</div>