<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
    <div class="container">
        <h1>VoteBoat</h1>

        <p class="lead">Nautical-themed polls.</p>
        <img class="img img-responsive" src="http://www.pd4pic.com/images/paper-cartoon-toy-boat-sheet-folded-fold.png" alt="I'm Yeoman">
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Hot Polls</h1>

            <div class="panel panel-default">
                <ul class="nav nav-tabs nav-stacked col-md-12 col-lg-12 col-sm-12" ng-repeat="poll in polls">
                    <li><a href="/view/{{poll._id}}">{{poll.title}}</a>
                        <button ng-show="isAdmin()" ng-click="deletePoll($index, poll._id)">Delete</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p>by alanbuchanan |
            <a href="https://github.com/alanbuchanan">github</a>
    </div>
</footer>
